.header-container-padre{
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.navbar{
    display: inline;
    text-align: center;
    margin-right: 10px;
}

li{
    list-style: none;
    display: inline;
}

.menu-item{
    margin-left: 25px;
    margin-right: 25px;
    color: #025157;
}

a:link{
    text-decoration: none;
}

.actions{
    width: 20%;
    text-align: right;
    font-size: 14px;
}

.actions a {
    color: #67b54b;
    font-weight: bold;
    margin-right: 10px;
} 

button{
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.publish{
    background-color: #D8CEEA;
}

.header-article{
    font-family: 'Gill Sans', sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;

}

.publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5; /*interlineado*/
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
    font-size: 18px;

  }

  .publish > form input{
      border: none;
      padding-bottom: 10px;
      padding-top: 10px;
      font-size: 14px;
  }